@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.flashContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.flashHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.flashArrows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.custom-prev-arrow,
.custom-next-arrow {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #007bff;
  cursor: pointer;
}

.flashHeading {
  margin: 0;
}

.flashProducts {
  position: relative;
}

.slick-prev,
.slick-next {
  display: none;
}
